<tr>
  <td><%= t("filename") %> (940px x 450px):</td>
  <td><%= f.file_field :attachment %></td>
</tr>
<tr>
  <td><%= t("destination_url") %></td>
  <td><%= f.text_field :destination_url %></td>
</tr>