
<div class="rotatingBanner">
        <div class="slider-wrapper theme-spree">
            <div id="slider" class="nivoSlider">
            <% if @homepage_images %>
            	<% @homepage_images.each do |homepage_image| %>
            		<%= link_to(image_tag(homepage_image.attachment.url(:standard), :alt => ''),homepage_image.destination_url) %>
            	<% end %>
            <% end %>
            </div>
        </div>
</div>
<div id="homepage_banners">
	<% if @homepage_banners %>
		<% @homepage_banners.each do |homepage_banner| %>
			<div style="float:left;">
			<%= link_to(image_tag(homepage_banner.attachment.url(:standard), :alt => homepage_banner.alt),homepage_banner.destination_url) %><br/>
			<%= homepage_banner.alt.upcase %></div>
		<% end %>
	<% end %>
</div>

<%#= javascript_include_tag 'store/jquery.nivo.slider.pack.js' %>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>
