
<div class="rotatingBanner">
        <div class="slider-wrapper theme-spree">
            <div id="slider" class="nivoSlider">
            	<% @homepage_images.each do |homepage_image| %>
            		<%= link_to(image_tag(homepage_image.attachment.url(:standard), :alt => ''),homepage_image.destination_url) %>
            	<% end %>
            </div>
        </div>
</div>

<%= javascript_include_tag 'jquery.nivo.slider.pack.js' %>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>
